<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system">

    <!-- 基础前台服务权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android 14+ 系统免除类型的前台服务权限（最适合系统签名应用） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <!-- 用于注册全局 Activity 监听器的系统级权限 -->
    <uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER" tools:ignore="ProtectedPermissions" />

    <!--修改系统助手-->
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!--用于进程通信-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--查询所有应用程序-->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!--电池优化-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!--创建快捷方式-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MainApplication"
        android:persistent="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HookIntent"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name=".service.ConfigProvider"
            android:authorities="com.fourtwo.hookintent.configprovider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@style/Theme.HookIntent.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--            android:launchMode="singleTask"-->
        <!--            android:process=":scheme_process"-->
        <activity
            android:name=".IntentIntercept"
            android:exported="true"
            android:label="@string/activity_label"
            android:taskAffinity="com.fourtwo.intercept"
            android:theme="@style/Theme.HookIntent.NoActionBar">
            <intent-filter android:priority="1000">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                    系统级协议头.看了下源码,
                    系统会对这些协议做单独的处理,跟第三方scheme是不同的.
                    所以这个直接手动添加才是最好的.不然单独再去hook,实在没有必要
                -->
                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- 自定义协议 -->
                <data android:scheme="jumpreplay" />
            </intent-filter>
        </activity>


<!--                android:launchMode="singleTask"-->
<!--                android:process=":scheme_process"-->
<!--        <activity-->
<!--            android:name=".DisabledActivity"-->
<!--            android:exported="false"-->
<!--            android:label="禁用意图"-->
<!--            android:taskAffinity="com.fourtwo.intercept"-->
<!--            android:theme="@style/Theme.HookIntent.NoActionBar" />-->


<!--        <activity-->
<!--            android:name=".ShortcutActivity"-->
<!--            android:label="快捷方式"-->
<!--            android:theme="@style/TransparentActivity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTask"-->
<!--            android:excludeFromRecents="true"-->
<!--            android:finishOnTaskLaunch="true" />-->
        <activity
            android:name=".DisabledActivity"
            android:exported="false"
            android:label="@string/disabled_activity_label"
            android:taskAffinity="com.fourtwo.intercept"
            android:theme="@style/Theme.HookIntent.NoActionBar" />

        <activity
            android:name=".ShortcutActivity"
            android:label="@string/shortcut_activity_label"
            android:theme="@style/TransparentActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />
        <service
            android:name=".service.SystemMonitorService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="systemExempted" />
    </application>
</manifest>
